.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 110px;
    margin: -10px;
    &__wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }
}

.photo-card {
    width: calc((100% - 8 * 10px)/4);
    margin: 10px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 22;
}

.img {
    &-thumb {
        width: 100%;
        height: 100%;
    }
    &-main {
        object-fit: cover;
        height: 100%;
    }
}