<div class="gallery__wrapper">
  <div class="gallery">
    <div class="photo-card">
      <a href="#" class="img-thumb"
        ><img
          src="./images/3cdae2ff69a88319a48d6baef1637bc8.jpg"
          alt="${tags}"
          loading="lazy"
          class="img-main"
      /></a>
      <div class="info">
        <p class="info-item">Likes: 2424</p>
        <p class="info-item">Views: 2442</p>
        <p class="info-item">Comments:2424</p>
        <p class="info-item">Downloads: 223432</p>
      </div>
    </div>
    <div class="photo-card">
        <a href="#" class="img-thumb"
          ><img
            src="./images/3cdae2ff69a88319a48d6baef1637bc8.jpg"
            alt="${tags}"
            loading="lazy"
            class="img-main"
        /></a>
        <div class="info">
          <p class="info-item">Likes: 2424</p>
          <p class="info-item">Views: 2442</p>
          <p class="info-item">Comments:2424</p>
          <p class="info-item">Downloads: 223432</p>
        </div>
      </div>
    <div class="photo-card">
        <a href="#" class="img-thumb"
          ><img
            src="./images/3cdae2ff69a88319a48d6baef1637bc8.jpg"
            alt="${tags}"
            loading="lazy"
            class="img-main"
        /></a>
        <div class="info">
          <p class="info-item">Likes: 2424</p>
          <p class="info-item">Views: 2442</p>
          <p class="info-item">Comments:2424</p>
          <p class="info-item">Downloads: 223432</p>
        </div>
      </div>
    <div class="photo-card">
      <a href="#" class="img-thumb"
        ><img
          src="./images/3cdae2ff69a88319a48d6baef1637bc8.jpg"
          alt="${tags}"
          loading="lazy"
          class="img-main"
      /></a>
      <div class="info">
        <p class="info-item">Likes: 2424</p>
        <p class="info-item">Views: 2442</p>
        <p class="info-item">Comments:2424</p>
        <p class="info-item">Downloads: 223432</p>
      </div>
    </div>
    <div class="photo-card">
      <a href="#" class="img-thumb"
        ><img
          src="./images/3cdae2ff69a88319a48d6baef1637bc8.jpg"
          alt="${tags}"
          loading="lazy"
          class="img-main"
      /></a>
      <div class="info">
        <p class="info-item">Likes: 2424</p>
        <p class="info-item">Views: 2442</p>
        <p class="info-item">Comments:2424</p>
        <p class="info-item">Downloads: 223432</p>
      </div>
    </div>
  </div>
  <button type="button" class="load-more">Load more</button>
</div>
